.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/GeneratedConfig.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/App.zip
ios/Flutter/App.framework.zip
ios/Flutter/App.framework
android/app/src/main/java/io/flutter/plugins/
android/app/src/main/res/drawable-hdpi/
android/app/src/main/res/drawable-mdpi/
android/app/src/main/res/drawable-xhdpi/
android/app/src/main/res/drawable-xxhdpi/
android/app/src/main/res/drawable-xxxhdpi/
android/app/src/main/res/values/
android/app/src/main/res/xml/
android/key.properties
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
*.log
*.mode1v3
*.mode2v3
*.nosync
*.pbxuser
*.perspectivev3
*.pyc
*.swp
*~
.DS_Store
.atom/
.buildlog/
.history
.idea/
.vscode/
/tmp/
